/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: rgba(64, 63, 61, 0.8);
  --border-light: #c1b6ad;
  --border-dark: #665f55;

  /*========= Font and typography ==========*/
  /* 1rem = 10px*/
  --html-font-size: 62.5%;
  --body-font: 'Inter', sans-serif;
  --h1-font-size: 7.2rem;
  --h2-font-size: 6rem;
  --h3-font-size: 2.4rem;
  --big-font-size: 3.2rem;
  --medium-font-size: 1.6rem;
  --small-font-size: 1rem;

  /*========= Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
}

/*========== Responsive typography ==========*/
@media screen and (max-width: 730px) {
  :root {
    --h1-font-size: 6.2rem;
  }
}

@media screen and (max-width: 670px) {
  :root {
    --h1-font-size: 5.2rem;
    --h2-font-size: 3.2rem;
  }
}

@media screen and (max-width: 555px) {
  :root {
    --h1-font-size: 4.2rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--html-font-size);
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--medium-font-size);
}

body {
  height: 100%;
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: 150%;
  background-color: var(--background-body);
  color: var(--text-dark);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4rem;
}

.text_italic {
  color: var(--text-accent);
  font-style: oblique;
}

.link {
  position: relative;
  font-weight: var(--font-semi-bold);
  color: var(--text-dark);
  line-height: 150%;
  border-bottom: 8px solid transparent;
}

.link::after {
  content: '';
  position: absolute;
  bottom: -6px;
  display: block;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  opacity: 0;
  background-color: var(--text-dark);
  transition: all 0.4s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}

.header-block__title {
  font-size: var(--h2-font-size);
  line-height: 125%;
  font-style: normal;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  margin-bottom: 2rem;
}

/*========== logo ==========*/
.header__logo {
  width: 100px;
  height: 60px;
}

.logo__icon {
  width: 100px;
  height: 60px;
}

/*========== header menu ==========*/
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 894px;
}

/*========== menu ==========*/
.menu {
  width: 456px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item,
.image-link {
  height: 28px;
}

/*========== coffee-menu ==========*/
.header__menu .image-link .link::after {
  transform: scaleX(1);
  opacity: 1;
}

.header__menu .image-link .link {
  pointer-events: none;
}

.coffee__icon {
  margin-left: 0.4rem;
  width: 20px;
  height: 20px;
  vertical-align: top;
}

/*========== burger ===========*/
.menu__icon {
  display: none;
}

/*=============== MAIN ===============*/
.main {
  flex: 1 1 auto;
}

/*=============== ch-menu ===============*/
.ch-menu__container {
  margin-bottom: 10rem;
}

.ch-menu__header {
  text-align: center;
  max-width: 800px;
  margin: 0 auto;
  margin-bottom: 4rem;
}

.ch-menu__buttons {
  display: flex;
  justify-content: center;
  gap: 1.6rem;
  margin-bottom: 4rem;
}

.button-menu {
  height: 46px;
  display: flex;
  padding: 0.8rem 1.6rem 0.8rem 0.8rem;
  justify-content: center;
  align-items: center;
  gap: 0.8rem;
  border-radius: 100px;
  background-color: var(--background-body);
  border: 1px solid var(--border-light);
  font-weight: var(--font-semi-bold);
  color: var(--text-dark);
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}

.button-menu__img-box {
  width: 30px;
  height: 30px;
  display: flex;
  padding: 0.3rem 0.7rem;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  background-color: var(--border-light);
  transition: all 0.3s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .button-menu:hover {
    color: var(--text-light);
    background-color: var(--border-dark);
    border: 1px solid var(--border-dark);
  }

  .button-menu:hover .button-menu__img-box {
    background-color: var(--background-body);
  }
}

.button-menu_active {
  color: var(--text-light);
  background-color: var(--border-dark);
  border: 1px solid var(--border-dark);
  cursor: default;
}

.button-menu_active .button-menu__img-box {
  background-color: var(--background-body);
}

.ch-menu__row {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  margin: 0px -2rem -4rem;
}

.ch-menu__col {
  flex: 25%;
  max-width: 350px;
  padding: 0 2rem;
}

.ch-menu__item {
  height: 506px;
  border-radius: 40px;
  border: 1px solid var(--border-light);
  cursor: pointer;
  margin-bottom: 4rem;
}

.ch-menu__img-box {
  height: 310px;
  border-radius: 40px;
  background-size: 340px;
  background-position: center;
  background-repeat: no-repeat;
  transition: all 0.4s ease;
  overflow: hidden;
}

@media (hover: hover) and (pointer: fine) {
  .ch-menu__item:hover .ch-menu__img-box {
    background-size: 310px;
  }
}

.ch-menu__col:nth-of-type(1) .ch-menu__img-box {
  background-image: url('../../assets/images/coffee/1.jpg');
}

.ch-menu__col:nth-of-type(2) .ch-menu__img-box {
  background-image: url('../../assets/images/coffee/2.jpg');
}

.ch-menu__col:nth-of-type(3) .ch-menu__img-box {
  background-image: url('../../assets/images/coffee/3.jpg');
}

.ch-menu__col:nth-of-type(4) .ch-menu__img-box {
  background-image: url('../../assets/images/coffee/4.jpg');
}

.ch-menu__col:nth-of-type(5) .ch-menu__img-box {
  background-image: url('../../assets/images/coffee/5.jpg');
}

.ch-menu__col:nth-of-type(6) .ch-menu__img-box {
  background-image: url('../../assets/images/coffee/6.jpg');
}

.ch-menu__col:nth-of-type(7) .ch-menu__img-box {
  background-image: url('../../assets/images/coffee/7.jpg');
}

.ch-menu__col:nth-of-type(8) .ch-menu__img-box {
  background-image: url('../../assets/images/coffee/8.jpg');
}

.ch-menu__info {
  height: 196px;
  display: flex;
  flex-direction: column;
  padding: 2rem;
}

.ch-menu__subtitle {
  font-size: var(--h3-font-size);
  line-height: 125%;
  margin-bottom: 1.2rem;
}

.ch-menu__price {
  margin-top: auto;
  font-size: var(--h3-font-size);
  font-weight: var(--font-semi-bold);
  line-height: 125%;
}

.ch-menu__button-refresh {
  display: none;
}

.button-refresh {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 60px;
  height: 60px;
  border-radius: 100px;
  border: 1px solid var(--border-dark);
  background-color: var(--background-body);
  transition: all 0.4s ease;
  cursor: pointer;
}

.button-refresh-icon {
  width: 24px;
  height: 24px;
  stroke: var(--text-dark);
  transition: all 0.4s ease;
}

@media (hover: hover) and (pointer: fine) {
  .button-refresh:hover {
    background-color: var(--background-container);
  }

  .button-refresh:hover .button-refresh-icon {
    stroke: var(--border-light);
  }
}

/*=============== FOOTER ===============*/
.footer__box {
  padding: 10rem;
  border-radius: 40px;
  color: var(--text-light);
  background-color: var(--background-container);
}

.footer__row {
  display: flex;
  align-items: center;
  gap: 10rem;
}

.footer__content,
.footer__contacts {
  flex: 50%;
  max-width: 50%;
}

.footer__header {
  margin-bottom: 4rem;
}

.socials__list {
  display: flex;
  gap: 12px;
}

.socials__link {
  display: flex;
  width: 60px;
  height: 60px;
  justify-content: center;
  align-items: center;
  border-radius: 100px;
  border: 1px solid var(--border-light);
  background-color: var(--background-container);
  transition: all 0.4s ease-out;
  cursor: pointer;
}

.social-link-icon {
  width: 24px;
  height: 24px;
  stroke: var(--text-light);
  transition: all 0.4s ease-out;
}

@media (hover: hover) and (pointer: fine) {
  .socials__link:hover {
    background-color: var(--background-body);
  }

  .socials__link:hover .social-link-icon {
    stroke: var(--text-dark);
  }
}

.contacts__title {
  font-size: var(--h3-font-size);
  line-height: 125%;
  margin-bottom: 4rem;
}

.contacts__list {
  display: flex;
  flex-direction: column;
  gap: 1.6rem;
}

.contacts__item .link {
  color: var(--text-light);
}

.contacts__item .link::after {
  background-color: var(--text-light);
}

.contacts__item:last-of-type .link {
  pointer-events: none;
}

.contact-icon {
  margin-right: 0.4rem;
  width: 20px;
  height: 20px;
  vertical-align: top;
}

/*=============== BREAKPOINTS ===============*/
/* For large devices */
@media screen and (max-width: 1300px) {
  .header__menu {
    width: 750px;
  }

  .footer__row {
    gap: 4rem;
  }
}

@media screen and (max-width: 1236px) {
  .ch-menu__col {
    flex: 33.3%;
  }
}

/* For medium devices */
@media screen and (max-width: 1024px) {
  .header__menu {
    width: 650px;
  }

  .footer__row {
    flex-direction: column;
    align-items: flex-start;
    gap: 10rem;
  }

  .footer__content,
  .footer__contacts {
    flex: 100%;
    max-width: 100%;
  }

  .ch-menu__col {
    flex: 50%;
  }

  .ch-menu__col:nth-child(n + 5) {
    display: none;
  }

  .ch-menu__button-refresh {
    display: flex;
    justify-content: center;
    margin-top: 4rem;
  }
}

@media screen and (max-width: 880px) {
  .header__menu {
    width: 570px;
  }

  .footer__box {
    padding: 10rem 6rem;
  }
}

/* For small devices */
@media screen and (max-width: 768px) {
  .menu__icon {
    display: block;
    position: relative;
    width: 44px;
    height: 44px;
    cursor: pointer;
    border-radius: 100px;
    border: 1px solid var(--border-dark);
  }

  .menu__icon span,
  .menu__icon::before,
  .menu__icon::after {
    left: 0;
    position: absolute;
    width: 18px;
    height: 0px;
    transition: all 0.3s ease 0s;
    background-color: var(--text-dark);
  }

  .menu__icon span {
    top: 50%;
    transform: scale(1) translate(0px, -50%);
  }

  .menu__icon::before,
  .menu__icon::after {
    content: '';
    display: block;
    height: 2px;
    border-radius: 2px;
  }

  .menu__icon::before {
    top: 16px;
    left: 12px;
  }

  .menu__icon::after {
    bottom: 16px;
    left: 12px;
  }

  .menu__icon._active::before {
    transform: rotateZ(45deg) translate(3px, 3px);
  }

  .menu__icon._active::after {
    transform: rotateZ(-45deg) translate(3px, -3px);
  }

  .header__menu {
    width: 100%;
    height: 100%;
    position: fixed;
    top: 100px;
    right: 0px;
    z-index: 10;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 6rem 4rem;
    background-color: var(--background-body);
    transform: translateX(100%);
    transition: transform 0.3s ease 0s;
    overflow: hidden;
  }

  .menu__list {
    flex-direction: column;
    align-items: center;
    gap: 6rem;
    margin-bottom: 10rem;
  }

  .header__menu._active {
    transform: translateX(0%);
  }

  .header__menu .menu__item,
  .header__menu .image-link {
    height: 40px;
  }

  .header__menu .link {
    font-size: var(--big-font-size);
    line-height: 125%;
    border-bottom: none;
  }

  .coffee__icon {
    margin-left: 0.8rem;
    width: 40px;
    height: 40px;
  }
}

@media screen and (max-width: 720px) {
  .footer__box {
    padding: 8rem 4rem;
  }

  .footer__row {
    gap: 8rem;
  }
}

@media screen and (max-width: 600px) {
  ._container {
    padding: 0 2rem;
  }

  .ch-menu__col {
    flex: 100%;
  }
}

@media screen and (max-width: 426px) {
  ._container {
    padding: 0 1.6rem;
  }

  .header__menu {
    padding: 6rem 1.6rem;
  }

  .ch-menu__buttons {
    gap: 0.8rem;
  }

  .footer__box {
    padding: 6rem 1.6rem;
  }

  .footer__row {
    gap: 4rem;
  }
}
