/*=============== GOOGLE FONTS ===============*/
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@400;600&display=swap');

/*=============== VARIABLES CSS ===============*/
:root {
  /*========== Colors ==========*/
  --text-dark: #403f3d;
  --text-light: #e1d4c9;
  --text-accent: #b0907a;
  --background-body: #e1d4c9;
  --background-container: #665f55;
  --background-backdrop: rgba(64, 63, 61, 0.8);
  --border-light: #c1b6ad;
  --border-dark: #665f55;

  /*========= Font and typography ==========*/
  /* 1rem = 10px*/
  --html-font-size: 62.5%;
  --body-font: 'Inter', sans-serif;
  --h1-font-size: 7.2rem;
  --h2-font-size: 6rem;
  --h3-font-size: 2.4rem;
  --big-font-size: 3.2rem;
  --medium-font-size: 1.6rem;
  --small-font-size: 1rem;

  /*========= Font weight ==========*/
  --font-regular: 400;
  --font-semi-bold: 600;
}

/*========== Responsive typography ==========*/
@media screen and (max-width: 730px) {
  :root {
    --h1-font-size: 6.2rem;
  }
}

@media screen and (max-width: 670px) {
  :root {
    --h1-font-size: 5.2rem;
    --h2-font-size: 3.2rem;
  }
}

@media screen and (max-width: 555px) {
  :root {
    --h1-font-size: 4.2rem;
  }
}

/*=============== BASE ===============*/
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html {
  font-size: var(--html-font-size);
  scroll-behavior: smooth;
}

body,
input,
textarea,
button {
  font-family: var(--body-font);
  font-size: var(--medium-font-size);
}

body {
  height: 100%;
  font-style: normal;
  font-weight: var(--font-regular);
  line-height: 150%;
  background-color: var(--background-body);
  color: var(--text-dark);
}

h1,
h2,
h3 {
  font-weight: var(--font-semi-bold);
}

ul,
ol,
li {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

/*=============== REUSABLE CSS CLASSES ===============*/
.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%;
  padding-top: 2rem;
  padding-bottom: 4rem;
  overflow: hidden;
}

._container {
  max-width: 1440px;
  margin: 0 auto;
  padding: 0 4rem;
}

.text_italic {
  color: var(--text-accent);
  font-style: oblique;
}

.link {
  position: relative;
  font-weight: var(--font-semi-bold);
  color: var(--text-dark);
  line-height: 150%;
  border-bottom: 8px solid transparent;
}

.link::after {
  content: '';
  position: absolute;
  bottom: -6px;
  display: block;
  width: 100%;
  height: 2px;
  transform: scaleX(0);
  opacity: 0;
  background-color: var(--text-dark);
  transition: all 0.4s ease-in-out;
}

@media (hover: hover) and (pointer: fine) {
  .link:hover::after {
    transform: scaleX(1);
    opacity: 1;
  }
}

.header-block__title {
  font-size: var(--h2-font-size);
  line-height: 125%;
  font-style: normal;
}

/*=============== HEADER ===============*/
.header {
  width: 100%;
}

.header__container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-height: 60px;
  margin-bottom: 2rem;
}

/*========== logo ==========*/
.header__logo {
  width: 100px;
  height: 60px;
}

.logo {
  pointer-events: none;
}

.logo__icon {
  width: 100px;
  height: 60px;
}

/*========== header menu ==========*/
.header__menu {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 894px;
}

/*========== menu ==========*/
.menu {
  width: 456px;
}

.menu__list {
  display: flex;
  justify-content: space-between;
}

.menu__item,
.image-link {
  height: 28px;
}

/*========== coffee-menu ==========*/
.coffee__icon {
  margin-left: 0.4rem;
  width: 20px;
  height: 20px;
  vertical-align: top;
}

/*========== burger ===========*/
.menu__icon {
  display: none;
}

/*=============== MAIN ===============*/
.main {
  flex: 1 1 auto;
}
